body{
    font-family: 'Roboto', sans-serif;
    margin : 0px;
}
h1{
    font-size :50px;
}
.orange-highlight{
    color :orange;
}
.half-width{
    width :40%;
    float :left;
    margin-left :5%;
    padding-left :2%;
}
.half-width img{
    width :100% ;
    margin-top :70px;
}
.top-banner{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height :500px;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    color :#000;
    font-weight :bold;
}
.btn{    
    background-image : linear-gradient(45deg,tomato,rgba(255,255,0,0.5));
    padding :13px 25px;
    border-radius: 4px;
    border :none;
}
h2{
    font-size :40px;
}
p{
    color :dimgrey;
    
    
}
.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experince{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    border-radius: 5px;
    height :350px;
    background-color: white;
}
.experience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}    
#full-stack{
    border-left :5px grey solid;
    border-image: linear-gradient(45deg,grey,gray);
    border-image-slice: 1;
}
#baby-developer{
    border-left :5px blue solid;
    border-image: linear-gradient(45deg,grey,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 15px;
}
footer a{
    text-decoration: none;
    color :gray;
}






.contact h2{
    margin-bottom: 100px;
}

.contact{
    margin-top: -100px;
}
.contact ul{
    position:absolute;   
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    margin:0;
    padding:0;
}
.contact ul li{
    list-style:none;
}
.contact ul li a{
    position:relative;
    width:80px;
    background:#f1f1f1;
    display:block;
    height:80px;
    text-align:center;
    margin:0 10px;
    border-radius:50%;
    padding:6px;
    box-sizing:border-box;
    text-decoration:none;
    box-shadow:0 10px 15px rgba(0,0,0,0.3);
    transition:.5s;
    background:linear-gradient(0deg,#ddd,#fff);
    
}
.contact ul li a:hover{
    box-shadow:0 2px 6px rgba(0,0,0,0.3);
}
.contact ul li a .fa{
    width:100%;
    height:100%;
    display:block;
    background:linear-gradient(0deg,#fff,#ddd);
    border-radius:50%;
    line-height:calc(70px - 12px);
    font-size:24px;
    transition:.5s;
    color:#262626;
}
.contact ul li:nth-child(1) a:hover .fa{
    color:#3b5999;
}
.contact ul li:nth-child(2) a:hover .fa{
    color:#55acee;
}
.contact ul li:nth-child(3) a:hover .fa{
    color:#dd4b39;
}
.contact ul li:nth-child(4) a:hover .fa{
    color:#0077B5;
}
.contact ul li:nth-child(5) a:hover .fa{
    color:#e4405f;
}


